.header-bottom-strip .menu {
    display: flex;
}

.box {
    background-color: #fff;
    border-radius: 4px !important;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%);
}

.boxx {
    background-color: #ffa500;
    border-radius: 4px !important;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%);
    margin-top: 16px;
}

.box p, 
.boxx p {
    padding: 8px 16px ;
    font-size: 1.4em;
}