.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    background: #fff;
    width: 230px;
    border-radius: 5px;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }

  .products {
    text-align: left;
    padding: 2px 5px;
    width: 100%;
  }

 .p1 {
    font-size: 14px;
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 } 

 .p2 {
    text-overflow: ellipsis;
    font-size: 16px;
 }

 .cover {
    background-color: #fff;
 }

 .p3 {
    text-decoration: line-through;
    font-size: 14px;
    color: #75757a;
 }

 .content .p1 {
    line-height: 1;
   
 }

 .content .p2 {
    line-height: 0.9;
 }

 .content .p3 {
    line-height: 0.9;
 }

 .card-text {
    background-color: #fe0000;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 5px 0;
}

 